/* Variable declarations */
:root {
    --main-color: #000;
    --sec-color: #fff;
    --third-color: #D8E251;
    --fourth-color: #195B6B;
    --symbol-color: #9A479B;
    --title-font: 'Fredericka the Great', cursive;

}
body {
    font-family: 'Kodchasan', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
.skip-links{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .skip-links a{
    position: absolute;
    top: -3em;
    background-color: var(--fourth-color);
    color: var(--sec-color);
    padding: .5em 1em;
    font-weight: bold;
  }
  
  .skip-links a:focus{
    top: 0;
  }
.topnav {
    position: fixed;
    width: 100%;
    background: var(--main-color);
    color: #fff;
    height: 75px;
}
/*******NAVIGATION********/
nav {
    margin: 0;
    padding: 0;
    color: var(--main-color);
    overflow-x: hidden;
    /* needed because hiding the menu on the right side is not perfect,  */
}

a {
    text-decoration: none;
    color: var(--sec-color);
    transition: color 0.5s ease;
}
a:hover,
a:focus{
    color: var(--sec-color);
}
#menuToggle {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    user-select: none;
    padding-top: 0;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
}

/* * Just a quick hamburger*/
#menuToggle span {
    display: block;
    width: 32px;
    height: 5px;
    margin-bottom: 6px;
    position: relative;
    background: var(--symbol-color);
    border-radius: 5px;
    z-index: 1;
    transform-origin: -3px 1px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* * Transform all the slices of hamburger * into a crossmark. */
#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: var(--third-color);
}

/** But let's hide the middle one.*/
#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/* * Ohyeah and the last one should go the other direction */
#menuToggle input:checked~span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

/* * Make this absolute positioned* at the top left of the screen*/
#menu {
    position: absolute;
    width: 300px;
    margin: -55px 0 0 0;
    padding: 30px;
    padding-top: 80px;
    right: -100px;
    background: var(--main-color);
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(.13, .92, .69, 1.15);
}

#menu li {
    padding: 15px 0 15px 4px;
    font-size: 22px;
}

li:hover {
    background-color: var(--symbol-color);
    font-weight: 600;
}

/** And let's fade it in from the left*/
#menuToggle input:checked~ul {
    transform: none;
    opacity: 1;
}

.wrapper {
    max-width: 370px;
    margin: 0 auto;
    max-height: max-content;
    padding: 1px 25px 5px 25px;
}

.me, .about-banner, .portfolio-one, .portfolio-two {
    padding-top: 100px;
}

button {
    border-radius: 25px;
    border: none;
    color: var(--sec-color);
    font-size: 25px;
    background-image: linear-gradient(to bottom, #005f85, #2d5f9b, #6557a5, #9a479b);
    padding: 15px 30px;
    margin: 25px 0;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    width: 100%;
}
/**********HOMEPAGE******/
.me button, form button {
    width: auto;
}
h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: auto;
}
h2 {
    text-align: center;
    font-family: var(--title-font);
    text-transform: uppercase;
    font-size: 2.5rem;
    margin: 0;
}
p {
    font-size: 1.3rem;
    text-align: center;
}
form {
    padding: .5rem;
}
input[type=text], [type=email] {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border-color: var(--symbol-color);
    border-width: 2px;
}
textarea {
    width: 100%;
    min-height: 15rem;
    border-radius: 4px;
    border-color: var(--symbol-color);
    border-width: 2px;
    resize: vertical;
}
.me {
    background-image: url(../images/Portrait2-640_x_420-400_x_550.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    align-items:flex-end;
    margin: auto;
  }
  .me h1, h2, p {
    color: var(--sec-color);
  }
  .portfolio {
    background-color: var(--main-color);
    height: fit-content;
    padding-top: 1rem;
  }
  .touch h2 {
    color: var(--fourth-color);
    padding-top: 1rem;
  }
  .touch p {
    color: var(--main-color);
    padding-top: 1rem;
  }

 img {
    border-radius: 40px 10px;
 }
/****************ABOUT PAGE**********/
 .title {
    font-weight: bold;
    margin: 1rem;
    align-self: center;
 }

 .blue {
    color: var(--fourth-color);
    font-weight: bold;
 }
 .green {
    color: var(--third-color);
    font-weight: bold;
 }
 .purple {
    color: var(--symbol-color);
    font-weight: bold;
 }
 .about-banner p{
    color:var(--main-color)
 }
 .about-banner h1 {
    font-family: var(--title-font);
    font-size: 3.5rem;
 }
 .about-banner h3 {
    text-align: center;
 }
 .about-banner img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
 }

 .banner {
    padding-top: 5rem;
    width: 100%;
    height: fit-content;
 }
  
  footer {
    background-color: var(--main-color);
  }
  
  @media screen and (min-width: 600px) {
    html {
        min-width: 600px; 
    }
     /* changes style of navigation to place it in a row */
     #menuToggle{
        position: static;
     }
     #menu {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: auto;
        padding: 1px;
        position: static;
        transform: translate(0);
    } 
    #menuToggle > span {
        display: none;
    }
    #menu li {
        padding: 10px;
        font-size: 25px;
    }

    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
        max-height: max-content;
    }
    .about-banner img {
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 40%;
     }
     h2 {
        font-size: 5rem;
     }
    
    #abtsecondpic {
        width: 50%;
    }

    .portfolio-one h2 {
        color: #000;
    }
    .btn {
        display: flex;
        justify-content: center;
    }
    
  }


